.cart-container {
  width: 300px;
  background-color:rgb(109, 8, 109);
}
.cart-container img {
  width: 100%;
}
.cart-text {
  text-align: left;
  padding: 20px;
}
span {
  color: rgb(46, 229, 46);
}
.btn-1 {
  margin-left:30px;
}
.btn-1 a, h1, p {
  text-decoration: none;
  color: white;
}
.btn-1, .btn-2 {
  padding: 5px 20px;
  color: white;
  background-color: plum;
  border: none;
  border-radius: 7px;
}
.btn-1:hover{
  background-color: rgb(90, 3, 172);
}
.btn-2:hover {
  background-color: rgb(90, 3, 172);
}
.flex-container {
 display: grid;
 justify-items:center;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 column-gap: 10px;
 row-gap: 10px;
}
/*-------MEDIA QUERY IS START-------------*/

@media (min-width:50px) and (max-width:200px) {
  .flex-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width:201px) and (max-width:599px) {
  .flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:600px) and (max-width:600px) {
  .flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:601px) and (max-width:1000px) {
  .flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1001px) and (max-width: 1500px){
.flex-container {
  display: gird;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
.layout {
  width: 1500px;
  margin: 0px atuo;
}